body {
    margin: 0;
    padding: 0;
}

div.page {
    margin-top: 5em;
}

#text {
    text-align: center;
    font-family: serif;
}

div.setumei {
    margin-left: 10%;
}


table {
    margin: 0 25% 0 12%;
}