.comp {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin-top: 8em;
    text-align: center;
    width: 100%;
}

#addproduct {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #778899;
    padding: 10px 0 10px 0;
}

#deleteproduct {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #e6e6fa;
    padding: 10px 0 10px 0;
}

#deletepost {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #b0c4de;
    padding: 10px 0 10px 0;
}

button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #CC0000;
    border: solid 2px #CC0000;
    border-radius: 3px;
    transition: .4s;
    font-size: 20px;
}

button:hover {
    background: #CC0000;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}