* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin-top: 7em;


}

.search input[type="text"] {
    border: none;
    height: 2.4em;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 2px 8px;

}

.search input[type="text"]:focus {
    outline: 0;
}

.search {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #3879D9;
    border-radius: 20px;
    height: 2.2em;
    width: 280px;
    overflow: hidden;
    margin: auto;
    max-width: 900px;
}

.search input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right: 0px;
    top: -5px;
    outline: none;
}
.search ::-webkit-input-placeholder {
    color: #3879D9;
}

table.show tr td {
    padding-right: 0;
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #DDDDDD;
    height: 50px;
}

.search-sort {
    margin: auto;
    max-width: 200px;
}

.search-sort input[type=radio] {
    display: none;
}
.sort {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.sort::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.sort::after {
    background: #00cccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    left: 10px;
    margin-top: -3px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 8px;
}
.search-sort input[type=radio]:checked + .sort::before {
    border-color: #666;
}
.search-sort input[type=radio]:checked + .sort::after {
    opacity: 1;
}
.add-button input {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #CC0000;
    border: solid 2px #CC0000;
    border-radius: 3px;
    transition: .4s;
    font-size: 12px;
}

.add-button input:hover {
    background: #CC0000;
    color: white;
}
.details-button input {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #CC0000;
    border: solid 2px #CC0000;
    border-radius: 3px;
    transition: .4s;
    font-size: 12px;
}

.details-button input:hover {
    background: #CC0000;
    color: white;
}

.products {
    margin: auto;
    max-width: 900px;
}