body {
	color: #5e5e5e;
    margin: 0;
	font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    padding: 0;
}

div.page {
    margin-top: 5em;
    padding-left: 1em;
    position: relative;
    z-index: auto;
}

input.add {
    display: inline-block;
    padding: 0.1em 0.5em;
    text-decoration: none;
    color: #CC0000;
    border: solid 2px #CC0000;
    border-radius: 3px;
    transition: .4s;
    font-size: 20px;
}

button.add {
    display: inline-block;
    padding: 0.1em 0.5em;
    text-decoration: none;
    color: #CC0000;
    border: solid 2px #CC0000;
    border-radius: 3px;
    transition: .4s;
    font-size: 20px;
}

.add:hover {
    background: #FFC0CB;

}

input.osusume {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  	padding: 0px 0px;
 	border: solid 1px #fff;
	border-radius: 6px;
}

h1 {
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
    font-size:30px;


}
.ti{
	margin-top: 100px;
    padding-left: 100px;
    position: relative;
    z-index: auto;
}

h3 {
    font-size: 15px;
    margin: 0 0 0 20px;
}

.mitsu {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px #CC0000;
    transition: .4s;
    font-size: 20px;
    background-color: #FF0000;
}

.mitsu:hover {
    background: #FF0000;
    color: white;
}
div.productname {
	/*商品の名前が少し上になるので中央にする*/
}