body {
    margin: 0;
    padding: 0;
}

div.page {
    margin-top: 8em;
    padding-left: 1em;
    position: relative;
    z-index: auto;

}

 input.add {
    display: inline-block;
    padding: 0.1em 0.5em;
    text-decoration: none;
    color: #CC0000;
    border: solid 2px #CC0000;
    border-radius: 3px;
    transition: .4s;
    font-size: 20px;
}

.add:hover {
    background: #FFC0CB;

}

input.osusume{
	background-color:#fff;
	color: #000;
  	font-weight: bold;
  	padding: 0px 0px;
 	border: solid 1px #fff;
	border-radius: 6px;
}

h1 {
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
}

h3 {
    font-size: 15px;
    margin: 0 0 0 20px;
}

input.mitsu{
	display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px #CC0000;

    transition: .4s;
    font-size: 20px;
    background-color: #FF0000;
}
.mitsu:hover {
    background: #FF0000;
    color: white;
}
div.productname {
	/*商品の名前が少し上になるので中央にする*/
}