header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333!important;
    align-items: center;
    z-index: 99;
}

div#logo {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

a {
    text-decoration: none!important;
    color: #FFFFFF;
    font-family:Centry!important;
}

.header-body tr {
    list-style: none;
    margin: 0;
}

.header-body td {
    margin: 0 0 0 15px;
    font-size: 14px;
    padding-right: 80px;
}

.header-body a:hover {
    color: #DDDDDD!important;
    text-decoration: underline;
}
* {
	margin: 0;
	padding : 0;
	box-sizing: border-box;
}

#build a {
 color: #FFFFFF!important;
}
#post a {
 color: #FFFFFF!important;
}
#user-info a {
 color: #FFFFFF!important;
}
#logo a {
 color: #FFFFFF!important;
}