body {
    margin: 0;
    padding: 0;
}

div.page {
    margin-top: 5em;
}
#text{
	text-align: center;
	font-family: serif;
}
#photo1{
	height: 100px;
	object-fit: cover;
}
#photo2{
	height: 100px;
	object-fit: cover;
}
#photo3{
	height: 100px;
	object-fit: cover;
}