* { margin: 0; padding: 0; box-sizing: border-box; }

body{
	margin-top:7em;
	background: #fff;

}
#product-spec{
	margin: auto;
    max-width: 900px;
}

#product-spec-price{
	text-decoration:underline;
	text-decoration-color: #FF0000;
	color: #FF0000;
}
